:root {
    --white-color: white;
    --black-color: black;
    --black-box-shadow: rgba(0, 0, 0, .8);
    --white-box-shadow: rgba(255, 255, 255, 0.55);
    --background-color: rgb(212, 193, 171);
    --dark-background-color: rgba(255, 255, 255, 0.3);
}

.title {
    font-size: 54px;
    font-weight: 600;
    margin: 10px 0 20px 0;
}

.title.dark {
    color: var(--white-color);
}

.hiName {
    margin-bottom: 25px;
}

.hiName.dark {
    color: var(--white-color);
}

.main-display {
    min-width: 250px;
    max-width: 700px;
    width: 600px;
}

.main-display .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: 250ms;
    box-shadow: 2px 10px 750px var(--black-box-shadow);
    background-color: var(--background-color);

}

.main-display .app.dark {
    box-shadow: 2px 10px 750px var(--white-box-shadow);
    background-color: var(--dark-background-color);
}

.main-display .app.hidden {
    display: none;
}

.main-display .inputNameData {
    text-align: center;
    border-radius: 50px;
    box-shadow: 2px 10px 750px var(--black-box-shadow);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-display .inputNameData.hidden {
    display: none;
}

.main-display .inputNameData .formMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-display .inputNameData .formMenu input {
    width: 95%;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: 2px solid var(--black-color);
    padding: 2px 10px;
    text-align: center;
}

.main-display .inputNameData .formMenu button {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    margin: 20px 0;
    transition: 300ms;
}

.main-display .inputNameData .formMenu button:hover {
    transform: scale(1.08);
}

.fa-lightbulb {
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 50px;
    transition: 300ms;
}

.fa-lightbulb:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.fa-lightbulb.dark {
    color: var(--white-color);
}